.phone-button {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 100;
}

.phone-button a {
  display: inline-block;
  background-color: #007BFF;
  color: #ffffff;
  font-weight: bold;
  padding: 10px 15px;
  border-radius: 5px;
  text-decoration: none;
  transition: 0.3s;
}

.phone-button a:hover {
  background-color: #0056b3;
}

@import url('https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css');
.image-container {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.image-container img {
  width: 100%;
  height: auto;
}
.site-body {
  min-height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn {
  background-color: #ffff01;
  border: 2px solid #ffffff;
  font-size: 30px;
  color: #007BFF;
  font-weight: bold;
  padding: 30px 60px;
  border-radius: 7px;
  transition: 0.3s;
}

.btn:hover {
  background-color: #007BFF;
  border-color: #007BFF;
  color: #ffffff;
}
.image-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #FFFFfF;
  font-size: 80px;
  font-weight: bold;
  text-align: center;
}

/* サービス一覧のスタイル */
.service-card {
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.service-card:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25);
}

.contact-form {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.site-body::before {
  content: "";
  background-image: linear-gradient(135deg, rgba(207, 221, 240, 0.6) 0%, rgba(255, 255, 255, 0.6) 100%);
  background-size: 600% 600%;
  animation: gradient 20s ease infinite;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

@keyframes gradient {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}
